html, body, p, ul, ol, dl, p, li, dt, dd, form {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

#erd_box {
  display: -webkit-box;
  display: -moz-box;
  display: box;
}
#erd_container {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
@mixin table-header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.88, #aaa), color-stop(0.00, #eee));
  background: -webkit-linear-gradient(top, #eee 0%, #aaa 88%);
  background: -moz-linear-gradient(top, #eee 0%, #aaa 88%);
  background: -o-linear-gradient(top, #eee 0%, #aaa 88%);
  background: -ms-linear-gradient(top, #eee 0%, #aaa 88%);
  background: linear-gradient(to bottom, #eee 0%, #aaa 88%);
  font-weight: normal;
}

#migration {
  table {
    td {
      font-size: small;
    }
    th {
      @include table-header;
    }
  }
}

#erd {
  overflow: auto;
  position: relative;

  form {
    * {
      float: left;
    }
    display: none;
  }

  div.model {
    position: absolute;
    border: 1px #000 solid;
    cursor: move;

    a.close {
      position:absolute;
      top:-6px;
      right:-6px;
      z-index:5;
      vertical-align:middle;
      line-height: 13px;
      font-family:Arial, sans-serif;
      text-decoration:none;
      font-weight:normal;
      background-color:#eee;
      border:1px solid #500;
      color:#500;
      display:block;
      width:16px;
      height:16px;
      text-align:center;
      border-radius: 8px;
    }
    div.add_column_box {
      text-align: center;
      margin: 0 5px 0 5px;

      a.add_column {
        font-size: small;
      }
    }

    div.model_name {
      border-bottom: 1px #000 solid;
      cursor: pointer;
      margin: 1px 5px 0 5px auto;
      div.model_name_text {
        text-align: center;
        @include table-header;
      }
    }
    div.model_name > div.model_name_text:hover {
      text-decoration: underline;
    }

    form.rename_model_form, form.rename_column_form, form.alter_column_form {
      width: 150px;
      input[name=to] {
        width: 65%;
      }
      input[type=submit] {
        width: 25%;
      }
    }
    form.add_column_form {
      width: 150px;
      input[name=name] {
        width: 38%;
      }
      input[name=type] {
        width: 27%;
      }
      input[type=submit] {
        width: 25%;
      }
    }
    div.columns {
      margin: 0 5px 0 3px;

      ul > li.column {
        span.column_name_text, span.column_type_text {
          cursor: pointer;
        }
        span.column_type_text {
          font-size: small;
        }
        span.column_name_text:hover, span.column_type_text:hover {
          text-decoration: underline;
        }
      }
    }
  }
  div.model:hover {
    background-color: #cfc
  }
}

#executed,#failed {
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    color: #fff;
  }
  h3 {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  ul li {
    margin-left: 25px;
    font-size: 12px;
    list-style: square;
  }
}


#executed {
  border: 2px #0f0 solid;
  h2 {
    background-color: #0c0;
  }
}

#failed {
  border: 2px #f00 solid;
  h2 {
    background-color: #c00;
  }
}

#model_name_changes, #column_name_changes {
  display: none;
}

table, th, td {
  border: 1px #000 solid;
  border-collapse: collapse;
}
