<div id="erd" data-svg_width="<%= width %>" data-svg_height="<%= height %>">
  <%= render :partial => 'erd/erd/model', :collection => models -%>
  <script>window.raw_edges = <%= edges.to_json.html_safe %>;</script>
</div>
