<div id="erd_box">
  <div id="erd_container">
    <%=raw @erd %>
  </div>
  <%= form_tag '/erd', :method => :put, :id => 'changes_form' do %>
    <%= hidden_field_tag 'position_changes' %>
  <% end %>
  <input id="drawer_switch" type="checkbox">
  <label id="drawer_hide_label" class="drawer_switch_label" for="drawer_switch">&gt;&nbsp;&nbsp;Hide Buttons</label>
  <label id="drawer_show_label" class="drawer_switch_label" for="drawer_switch">&lt;</label>
  <nav id="buttons">
    <ul>
      <li><a href="#!" id="save_position_changes" class="menu_button">Save Position Changes</a></li>
      <li><%= link_to 'Edit the Database', :edit, :id => 'link_to_edit', :class => 'menu_button' %></li>
    </ul>
  </nav>
</div>
