<div id="erd_box">
  <div id="erd_container">
    <%=raw @erd %>
  </div>
  <%= form_tag '/erd', :method => :put, :id => 'changes_form' do %>
    <%= hidden_field_tag 'position_changes' %>
  <% end %>
  <a href="#!" id="save_position_changes">Save Position Changes</a>
  <%= link_to 'Edit the Database', :edit, id: 'link_to_edit' %>
</div>
